<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CoDEntities" connectionString="metadata=res://*/CoD-Connection-Payment.csdl|res://*/CoD-Connection-Payment.ssdl|res://*/CoD-Connection-Payment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BG307458\SQLEXPRESS;initial catalog=CoD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IPaymentService" />
        <binding name="BasicHttpBinding_IUserAndPaymentService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50828/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:50828/PaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
        contract="PaymentServiceReference.IPaymentService" name="BasicHttpBinding_IPaymentService" />
      <endpoint address="http://localhost:50828/UserAndPaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAndPaymentService"
        contract="UserAndPaymentServiceReference.IUserAndPaymentService"
        name="BasicHttpBinding_IUserAndPaymentService" />
    </client>
  </system.serviceModel>
</configuration>